# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.vscode

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
public/weatherIcons/64x64/113.png
public/weatherIcons/64x64/116.png
public/weatherIcons/64x64/119.png
public/weatherIcons/64x64/122.png
public/weatherIcons/64x64/143.png
public/weatherIcons/64x64/176.png
public/weatherIcons/64x64/179.png
public/weatherIcons/64x64/182.png
public/weatherIcons/64x64/185.png
public/weatherIcons/64x64/200.png
public/weatherIcons/64x64/227.png
public/weatherIcons/64x64/230.png
public/weatherIcons/64x64/248.png
public/weatherIcons/64x64/260.png
public/weatherIcons/64x64/263.png
public/weatherIcons/64x64/266.png
public/weatherIcons/64x64/281.png
public/weatherIcons/64x64/284.png
public/weatherIcons/64x64/293.png
public/weatherIcons/64x64/296.png
public/weatherIcons/64x64/299.png
public/weatherIcons/64x64/302.png
public/weatherIcons/64x64/305.png
public/weatherIcons/64x64/308.png
public/weatherIcons/64x64/311.png
public/weatherIcons/64x64/314.png
public/weatherIcons/64x64/317.png
public/weatherIcons/64x64/320.png
public/weatherIcons/64x64/323.png
public/weatherIcons/64x64/326.png
public/weatherIcons/64x64/329.png
public/weatherIcons/64x64/332.png
public/weatherIcons/64x64/335.png
public/weatherIcons/64x64/338.png
public/weatherIcons/64x64/350.png
public/weatherIcons/64x64/353.png
public/weatherIcons/64x64/356.png
public/weatherIcons/64x64/359.png
public/weatherIcons/64x64/362.png
public/weatherIcons/64x64/365.png
public/weatherIcons/64x64/368.png
public/weatherIcons/64x64/371.png
public/weatherIcons/64x64/374.png
public/weatherIcons/64x64/377.png
public/weatherIcons/64x64/386.png
public/weatherIcons/64x64/389.png
public/weatherIcons/64x64/392.png
public/weatherIcons/64x64/395.png
public/weatherIcons/png/001-rain.png
public/weatherIcons/png/002-rain.png
public/weatherIcons/png/003-storm.png
public/weatherIcons/png/004-storm.png
public/weatherIcons/png/005-thunderstorm.png
public/weatherIcons/png/006-blizzard.png
public/weatherIcons/png/007-moon phase.png
public/weatherIcons/png/008-weather.png
public/weatherIcons/png/009-thunder.png
public/weatherIcons/png/010-celsius.png
public/weatherIcons/png/011-cloud.png
public/weatherIcons/png/012-farenheit.png
public/weatherIcons/png/013-cloudy.png
public/weatherIcons/png/014-cloud.png
public/weatherIcons/png/015-cloud.png
public/weatherIcons/png/016-wind.png
public/weatherIcons/png/017-wind.png
public/weatherIcons/png/018-cirrus.png
public/weatherIcons/png/019-cloud.png
public/weatherIcons/png/020-clouds.png
public/weatherIcons/png/021-clouds.png
public/weatherIcons/png/022-rainbow.png
public/weatherIcons/png/023-STRATUS.png
public/weatherIcons/png/024-cumulus.png
public/weatherIcons/png/025-stratuscumulus.png
public/weatherIcons/png/026-cumulonimbus.png
public/weatherIcons/png/027-nimbostratus.png
public/weatherIcons/png/028-contrail.png
public/weatherIcons/png/029-sunrise.png
public/weatherIcons/png/030-sunsets.png
public/weatherIcons/png/031-night.png
public/weatherIcons/png/032-windy.png
public/weatherIcons/png/033-snow.png
public/weatherIcons/png/034-breeze.png
public/weatherIcons/png/035-cyclone.png
public/weatherIcons/png/036-tornado.png
public/weatherIcons/png/037-flood.png
public/weatherIcons/png/038-fire.png
public/weatherIcons/png/039-tsunami.png
public/weatherIcons/png/040-autumn.png
public/weatherIcons/png/041-summer.png
public/weatherIcons/png/042-spring.png
public/weatherIcons/png/043-winter.png
public/weatherIcons/png/044-dawn.png
public/weatherIcons/png/045-eclipse.png
public/weatherIcons/png/046-cold.png
public/weatherIcons/png/047-hot.png
public/weatherIcons/png/048-rain.png
public/weatherIcons/png/049-umbrella.png
public/weatherIcons/png/050-heater.png
public/weatherIcons/png/051-wind sign.png
public/weatherIcons/png/052-weathercock.png
public/weatherIcons/png/053-snowman.png
public/weatherIcons/png/054-app.png
public/weatherIcons/png/055-night.png
public/weatherIcons/png/056-level.png
public/weatherIcons/png/057-wind.png
public/weatherIcons/png/058-thunder.png
public/weatherIcons/png/059-thunder.png
public/weatherIcons/png/060-rain.png
public/weatherIcons/png/062-patchysleet.png
public/weatherIcons/png/063-blowingsnow.png
public/weatherIcons/png/064-freezingfog.png
public/weatherIcons/png/065-patchylightrizzle.png
public/weatherIcons/png/066-freezdrizz.png
public/weatherIcons/png/067-heavyfreezdrizz.png
public/weatherIcons/png/068-heavyrain.png
public/weatherIcons/png/068-heavyrainattimes.png
public/weatherIcons/png/069-lightsleet.png
public/weatherIcons/png/070-patchylightsnow.png
public/weatherIcons/png/071-patchyheavy.png
public/weatherIcons/png/072-icepellets.png
public/weatherIcons/png/073-lightsnowthunder.png
public/weatherIcons/png/074-heavysnowthunder.png
public/weatherIcons/svg/001-rain.svg
public/weatherIcons/svg/002-rain.svg
public/weatherIcons/svg/003-storm.svg
public/weatherIcons/svg/004-storm.svg
public/weatherIcons/svg/005-thunderstorm.svg
public/weatherIcons/svg/006-blizzard.svg
public/weatherIcons/svg/007-moon phase.svg
public/weatherIcons/svg/008-weather.svg
public/weatherIcons/svg/009-thunder.svg
public/weatherIcons/svg/010-celsius.svg
public/weatherIcons/svg/011-cloud.svg
public/weatherIcons/svg/012-farenheit.svg
public/weatherIcons/svg/013-cloudy.svg
public/weatherIcons/svg/014-cloud.svg
public/weatherIcons/svg/015-cloud.svg
public/weatherIcons/svg/016-wind.svg
public/weatherIcons/svg/017-wind.svg
public/weatherIcons/svg/018-cirrus.svg
public/weatherIcons/svg/019-cloud.svg
public/weatherIcons/svg/020-clouds.svg
public/weatherIcons/svg/021-clouds.svg
public/weatherIcons/svg/022-rainbow.svg
public/weatherIcons/svg/023-STRATUS.svg
public/weatherIcons/svg/024-cumulus.svg
public/weatherIcons/svg/025-stratuscumulus.svg
public/weatherIcons/svg/026-cumulonimbus.svg
public/weatherIcons/svg/027-nimbostratus.svg
public/weatherIcons/svg/028-contrail.svg
public/weatherIcons/svg/029-sunrise.svg
public/weatherIcons/svg/030-sunsets.svg
public/weatherIcons/svg/031-night.svg
public/weatherIcons/svg/032-windy.svg
public/weatherIcons/svg/033-snow.svg
public/weatherIcons/svg/034-breeze.svg
public/weatherIcons/svg/035-cyclone.svg
public/weatherIcons/svg/036-tornado.svg
public/weatherIcons/svg/037-flood.svg
public/weatherIcons/svg/038-fire.svg
public/weatherIcons/svg/039-tsunami.svg
public/weatherIcons/svg/040-autumn.svg
public/weatherIcons/svg/041-summer.svg
public/weatherIcons/svg/042-spring.svg
public/weatherIcons/svg/043-winter.svg
public/weatherIcons/svg/044-dawn.svg
public/weatherIcons/svg/045-eclipse.svg
public/weatherIcons/svg/046-cold.svg
public/weatherIcons/svg/047-hot.svg
public/weatherIcons/svg/048-rain.svg
public/weatherIcons/svg/049-umbrella.svg
public/weatherIcons/svg/050-heater.svg
public/weatherIcons/svg/051-wind sign.svg
public/weatherIcons/svg/052-weathercock.svg
public/weatherIcons/svg/053-snowman.svg
public/weatherIcons/svg/054-app.svg
public/weatherIcons/svg/055-night.svg
public/weatherIcons/svg/056-level.svg
public/weatherIcons/svg/057-wind.svg
public/weatherIcons/svg/058-thunder.svg
public/weatherIcons/svg/059-thunder.svg
public/weatherIcons/svg/060-rain.svg
public/weatherIcons/svg/061-patchysnow.svg
public/weatherIcons/svg/062-patchysleet.svg
public/weatherIcons/svg/063-blowingsnow.svg
public/weatherIcons/svg/064-freezingfog.svg
public/weatherIcons/svg/065-patchylightrizzle.svg
public/weatherIcons/svg/066-freezdrizz.svg
public/weatherIcons/svg/067-heavyfreezdrizz.svg
public/weatherIcons/svg/068-heavyrain.svg
public/weatherIcons/svg/068-heavyrainattimes.svg
public/weatherIcons/svg/069-lightsleet.svg
public/weatherIcons/svg/070-patchylightsnow.svg
public/weatherIcons/svg/071-patchyheavy.svg
public/weatherIcons/svg/072-icepellets.svg
public/weatherIcons/svg/073-lightsnowthunder.svg
public/weatherIcons/svg/074-heavysnowthunder.svg
public/Clothes/svg/001-jumper.svg
public/Clothes/svg/002-fur-coat.svg
public/Clothes/svg/003-raincoat.svg
public/Clothes/svg/004-umbrella.svg
public/Clothes/svg/005-rain-boots.svg
public/Clothes/svg/006-varsity-jacket.svg
public/Clothes/svg/007-cap.svg
public/Clothes/svg/008-shorts.svg
public/Clothes/svg/009-sneaker.svg
public/Clothes/svg/010-shirt.svg
public/Clothes/svg/011-scarf.svg
public/Clothes/svg/012-winter-hat.svg
public/Clothes/svg/013-sunglasses.svg
public/Clothes/svg/014-pants.svg
src/assets/WeatherIcons/64x64/113.png
src/assets/WeatherIcons/64x64/116.png
src/assets/WeatherIcons/64x64/119.png
src/assets/WeatherIcons/64x64/122.png
src/assets/WeatherIcons/64x64/143.png
src/assets/WeatherIcons/64x64/176.png
src/assets/WeatherIcons/64x64/179.png
src/assets/WeatherIcons/64x64/182.png
src/assets/WeatherIcons/64x64/185.png
src/assets/WeatherIcons/64x64/200.png
src/assets/WeatherIcons/64x64/227.png
src/assets/WeatherIcons/64x64/230.png
src/assets/WeatherIcons/64x64/248.png
src/assets/WeatherIcons/64x64/260.png
src/assets/WeatherIcons/64x64/263.png
src/assets/WeatherIcons/64x64/266.png
src/assets/WeatherIcons/64x64/281.png
src/assets/WeatherIcons/64x64/284.png
src/assets/WeatherIcons/64x64/293.png
src/assets/WeatherIcons/64x64/296.png
src/assets/WeatherIcons/64x64/299.png
src/assets/WeatherIcons/64x64/302.png
src/assets/WeatherIcons/64x64/305.png
src/assets/WeatherIcons/64x64/308.png
src/assets/WeatherIcons/64x64/311.png
src/assets/WeatherIcons/64x64/314.png
src/assets/WeatherIcons/64x64/317.png
src/assets/WeatherIcons/64x64/320.png
src/assets/WeatherIcons/64x64/323.png
src/assets/WeatherIcons/64x64/326.png
src/assets/WeatherIcons/64x64/329.png
src/assets/WeatherIcons/64x64/332.png
src/assets/WeatherIcons/64x64/335.png
src/assets/WeatherIcons/64x64/338.png
src/assets/WeatherIcons/64x64/350.png
src/assets/WeatherIcons/64x64/353.png
src/assets/WeatherIcons/64x64/356.png
src/assets/WeatherIcons/64x64/359.png
src/assets/WeatherIcons/64x64/362.png
src/assets/WeatherIcons/64x64/365.png
src/assets/WeatherIcons/64x64/368.png
src/assets/WeatherIcons/64x64/371.png
src/assets/WeatherIcons/64x64/374.png
src/assets/WeatherIcons/64x64/377.png
src/assets/WeatherIcons/64x64/386.png
src/assets/WeatherIcons/64x64/389.png
src/assets/WeatherIcons/64x64/392.png
src/assets/WeatherIcons/64x64/395.png
src/assets/WeatherIcons/png/001-rain.png
src/assets/WeatherIcons/png/002-rain.png
src/assets/WeatherIcons/png/003-storm.png
src/assets/WeatherIcons/png/004-storm.png
src/assets/WeatherIcons/png/005-thunderstorm.png
src/assets/WeatherIcons/png/006-blizzard.png
src/assets/WeatherIcons/png/007-moon phase.png
src/assets/WeatherIcons/png/008-weather.png
src/assets/WeatherIcons/png/009-thunder.png
src/assets/WeatherIcons/png/010-celsius.png
src/assets/WeatherIcons/png/011-cloud.png
src/assets/WeatherIcons/png/012-farenheit.png
src/assets/WeatherIcons/png/013-cloudy.png
src/assets/WeatherIcons/png/014-cloud.png
src/assets/WeatherIcons/png/015-cloud.png
src/assets/WeatherIcons/png/016-wind.png
src/assets/WeatherIcons/png/017-wind.png
src/assets/WeatherIcons/png/018-cirrus.png
src/assets/WeatherIcons/png/019-cloud.png
src/assets/WeatherIcons/png/020-clouds.png
src/assets/WeatherIcons/png/021-clouds.png
src/assets/WeatherIcons/png/022-rainbow.png
src/assets/WeatherIcons/png/023-STRATUS.png
src/assets/WeatherIcons/png/024-cumulus.png
src/assets/WeatherIcons/png/025-stratuscumulus.png
src/assets/WeatherIcons/png/026-cumulonimbus.png
src/assets/WeatherIcons/png/027-nimbostratus.png
src/assets/WeatherIcons/png/028-contrail.png
src/assets/WeatherIcons/png/029-sunrise.png
src/assets/WeatherIcons/png/030-sunsets.png
src/assets/WeatherIcons/png/031-night.png
src/assets/WeatherIcons/png/032-windy.png
src/assets/WeatherIcons/png/033-snow.png
src/assets/WeatherIcons/png/034-breeze.png
src/assets/WeatherIcons/png/035-cyclone.png
src/assets/WeatherIcons/png/036-tornado.png
src/assets/WeatherIcons/png/037-flood.png
src/assets/WeatherIcons/png/038-fire.png
src/assets/WeatherIcons/png/039-tsunami.png
src/assets/WeatherIcons/png/040-autumn.png
src/assets/WeatherIcons/png/041-summer.png
src/assets/WeatherIcons/png/042-spring.png
src/assets/WeatherIcons/png/043-winter.png
src/assets/WeatherIcons/png/044-dawn.png
src/assets/WeatherIcons/png/045-eclipse.png
src/assets/WeatherIcons/png/046-cold.png
src/assets/WeatherIcons/png/047-hot.png
src/assets/WeatherIcons/png/048-rain.png
src/assets/WeatherIcons/png/049-umbrella.png
src/assets/WeatherIcons/png/050-heater.png
src/assets/WeatherIcons/png/051-wind sign.png
src/assets/WeatherIcons/png/052-weathercock.png
src/assets/WeatherIcons/png/053-snowman.png
src/assets/WeatherIcons/png/054-app.png
src/assets/WeatherIcons/png/055-night.png
src/assets/WeatherIcons/png/056-level.png
src/assets/WeatherIcons/png/057-wind.png
src/assets/WeatherIcons/png/058-thunder.png
src/assets/WeatherIcons/png/059-thunder.png
src/assets/WeatherIcons/png/060-rain.png
src/assets/WeatherIcons/png/062-patchysleet.png
src/assets/WeatherIcons/png/063-blowingsnow.png
src/assets/WeatherIcons/png/064-freezingfog.png
src/assets/WeatherIcons/png/065-patchylightrizzle.png
src/assets/WeatherIcons/png/066-freezdrizz.png
src/assets/WeatherIcons/png/067-heavyfreezdrizz.png
src/assets/WeatherIcons/png/068-heavyrain.png
src/assets/WeatherIcons/png/068-heavyrainattimes.png
src/assets/WeatherIcons/png/069-lightsleet.png
src/assets/WeatherIcons/png/070-patchylightsnow.png
src/assets/WeatherIcons/png/071-patchyheavy.png
src/assets/WeatherIcons/png/072-icepellets.png
src/assets/WeatherIcons/png/073-lightsnowthunder.png
src/assets/WeatherIcons/png/074-heavysnowthunder.png
src/assets/WeatherIcons/svg/001-rain.svg
src/assets/WeatherIcons/svg/002-rain.svg
src/assets/WeatherIcons/svg/003-storm.svg
src/assets/WeatherIcons/svg/004-storm.svg
src/assets/WeatherIcons/svg/005-thunderstorm.svg
src/assets/WeatherIcons/svg/006-blizzard.svg
src/assets/WeatherIcons/svg/007-moon phase.svg
src/assets/WeatherIcons/svg/008-weather.svg
src/assets/WeatherIcons/svg/009-thunder.svg
src/assets/WeatherIcons/svg/010-celsius.svg
src/assets/WeatherIcons/svg/011-cloud.svg
src/assets/WeatherIcons/svg/012-farenheit.svg
src/assets/WeatherIcons/svg/013-cloudy.svg
src/assets/WeatherIcons/svg/014-cloud.svg
src/assets/WeatherIcons/svg/015-cloud.svg
src/assets/WeatherIcons/svg/016-wind.svg
src/assets/WeatherIcons/svg/017-wind.svg
src/assets/WeatherIcons/svg/018-cirrus.svg
src/assets/WeatherIcons/svg/019-cloud.svg
src/assets/WeatherIcons/svg/020-clouds.svg
src/assets/WeatherIcons/svg/021-clouds.svg
src/assets/WeatherIcons/svg/022-rainbow.svg
src/assets/WeatherIcons/svg/023-STRATUS.svg
src/assets/WeatherIcons/svg/024-cumulus.svg
src/assets/WeatherIcons/svg/025-stratuscumulus.svg
src/assets/WeatherIcons/svg/026-cumulonimbus.svg
src/assets/WeatherIcons/svg/027-nimbostratus.svg
src/assets/WeatherIcons/svg/028-contrail.svg
src/assets/WeatherIcons/svg/029-sunrise.svg
src/assets/WeatherIcons/svg/030-sunsets.svg
src/assets/WeatherIcons/svg/031-night.svg
src/assets/WeatherIcons/svg/032-windy.svg
src/assets/WeatherIcons/svg/033-snow.svg
src/assets/WeatherIcons/svg/034-breeze.svg
src/assets/WeatherIcons/svg/035-cyclone.svg
src/assets/WeatherIcons/svg/036-tornado.svg
src/assets/WeatherIcons/svg/037-flood.svg
src/assets/WeatherIcons/svg/038-fire.svg
src/assets/WeatherIcons/svg/039-tsunami.svg
src/assets/WeatherIcons/svg/040-autumn.svg
src/assets/WeatherIcons/svg/041-summer.svg
src/assets/WeatherIcons/svg/042-spring.svg
src/assets/WeatherIcons/svg/043-winter.svg
src/assets/WeatherIcons/svg/044-dawn.svg
src/assets/WeatherIcons/svg/045-eclipse.svg
src/assets/WeatherIcons/svg/046-cold.svg
src/assets/WeatherIcons/svg/047-hot.svg
src/assets/WeatherIcons/svg/048-rain.svg
src/assets/WeatherIcons/svg/049-umbrella.svg
src/assets/WeatherIcons/svg/050-heater.svg
src/assets/WeatherIcons/svg/051-wind sign.svg
src/assets/WeatherIcons/svg/052-weathercock.svg
src/assets/WeatherIcons/svg/053-snowman.svg
src/assets/WeatherIcons/svg/054-app.svg
src/assets/WeatherIcons/svg/055-night.svg
src/assets/WeatherIcons/svg/056-level.svg
src/assets/WeatherIcons/svg/057-wind.svg
src/assets/WeatherIcons/svg/058-thunder.svg
src/assets/WeatherIcons/svg/059-thunder.svg
src/assets/WeatherIcons/svg/060-rain.svg
src/assets/WeatherIcons/svg/061-patchysnow.svg
src/assets/WeatherIcons/svg/062-patchysleet.svg
src/assets/WeatherIcons/svg/063-blowingsnow.svg
src/assets/WeatherIcons/svg/064-freezingfog.svg
src/assets/WeatherIcons/svg/065-patchylightrizzle.svg
src/assets/WeatherIcons/svg/066-freezdrizz.svg
src/assets/WeatherIcons/svg/067-heavyfreezdrizz.svg
src/assets/WeatherIcons/svg/068-heavyrain.svg
src/assets/WeatherIcons/svg/068-heavyrainattimes.svg
src/assets/WeatherIcons/svg/069-lightsleet.svg
src/assets/WeatherIcons/svg/070-patchylightsnow.svg
src/assets/WeatherIcons/svg/071-patchyheavy.svg
src/assets/WeatherIcons/svg/072-icepellets.svg
src/assets/WeatherIcons/svg/073-lightsnowthunder.svg
src/assets/WeatherIcons/svg/074-heavysnowthunder.svg
src/assets/Clothes/svg/001-jumper.svg
src/assets/Clothes/svg/002-fur-coat.svg
src/assets/Clothes/svg/003-raincoat.svg
src/assets/Clothes/svg/004-umbrella.svg
src/assets/Clothes/svg/005-rain-boots.svg
src/assets/Clothes/svg/006-varsity-jacket.svg
src/assets/Clothes/svg/007-cap.svg
src/assets/Clothes/svg/008-shorts.svg
src/assets/Clothes/svg/009-sneaker.svg
src/assets/Clothes/svg/010-shirt.svg
src/assets/Clothes/svg/011-scarf.svg
src/assets/Clothes/svg/012-winter-hat.svg
src/assets/Clothes/svg/013-sunglasses.svg
src/assets/Clothes/svg/014-pants.svg
