.themeHotter{
   --main: #ff7431;
}

.themeHot{
   --main: #ffbe31;
   
}

.themeAvg{
   --main: #91f310;
}

.themeCold{
   --main: #0d84ff;
}

.themeColder{
   --main: #82cbff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}



.header {
   display: flex;
   justify-content: center;
   align-items: center; 
   background-color: var(--main);

   color: white;
   font-size: 36px;
   font-weight: lighter;
   height: 54px;
   width: 100vw;
}


.mainContainer {
   display: grid;
   grid-template-rows: auto auto auto auto;
   justify-items: center;
}

.searchBar {
   width: 100%;
   max-width: 500px;
   padding-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.searchInput {
   width: 80%;
   margin-right: 10px;
   height: 30px;
   border-radius: 10px;
   border: black 1px solid;
   padding: 5px;
}

.searchIcon {
   width: 30px;
   height: 30px;
}
.searchIcon:hover {
   cursor: pointer;
}

.weatherCard {
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   margin-top: 35px;
   max-width: 500px;
   border-radius: 30px;
   border: black 3px solid;
}

.weatherInfo {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 20px;
   padding-bottom: 20px;
}

.cityText {
   font-size: 36px;
   font-weight: 500;
   color: black;
}

.dateText {
   font-size: 14px;
   font-weight: lighter;
   color: black;
}

.weatherText {
   font-size: 30px;
   font-weight: bold;
   color:  var(--main);
   margin-top: 15px;
   text-transform: capitalize;

}

.weatherIcon {
   width: 150px;
   height: 150px;
   margin-left: 10px;
   margin-top: 10px;
}

.eventBar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.eventBox {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 35px;
}

.eventSvg {
   margin-bottom: 10px;
   width: 60px;
   height: 60px;
}

.recSvg {
   margin-bottom: 10px;
   width: 45px;
   height: 45px;
}

.recommendation{
   width: 100%;
   max-width: 500px;
}

.recBox{
      padding:10px;
    display: flex;
    flex-direction: col;
    justify-content: space-between;
    margin-bottom: 20px;
}

.recText{
    margin-left: 20px;
}